# Required
DEPLOYER_KEY=your_deployer_key_here

# If want to use Mainnet signer client. Fallbacks to Testnet client.
MAINNET_SIGNER_CLIENT=1

# Required
## Upstash Redis credentials
REDIS_PORT=your_redis_port
REDIS_HOST=your_redis_host
REDIS_PASSWORD=your_redis_password_here

# Set to 1 to enable, 0 to disable
BINANCE=1
CRYPTOCOMPARE=1
COINPAPRIKA=1
MESSARI=1
COINCAP=1
COINLORE=1
COINCODEX=1
COINGECKO=1
KUCOIN=1
HUOBI=1
BYBIT=1
CEXIO=1
SWAPZONE=1
MEXC=1
GATEIO=1
OKX=1

# Weight associated with each provider
BINANCE_WEIGHT=1
CRYPTOCOMPARE_WEIGHT=1
COINPAPRIKA_WEIGHT=1
MESSARI_WEIGHT=1
COINCAP_WEIGHT=1
COINLORE_WEIGHT=1
COINCODEX_WEIGHT=1
COINGECKO_WEIGHT=1
KUCOIN_WEIGHT=1
HUOBI_WEIGHT=1
BYBIT_WEIGHT=1
CEXIO_WEIGHT=1
SWAPZONE_WEIGHT=1
MEXC_WEIGHT=1
GATEIO_WEIGHT=1
OKX_WEIGHT=1

# Intervals
## For price
PRICE_POLLING_INTERVAL=180 
## For certificates
CERTIFICATE_POLLING_INTERVAL=600

# Required if swapzone selected as a provider
SWAPZONE_API_KEY=your_swapzone_api_key_here
